.hero {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    background-image: url('../../../assets/images/4.webp');
    background-size: cover;
    background-position: center;
    height: 697px;
    color: #fff;
    border-radius: 20px;
}